@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

body {
  font-weight: 400;
  line-height: 1.7;
  padding: 1rem;
}

.heading-primary {
  font-family: "Zhi Mang Xing", cursive;
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 2.5rem;
  animation: moveInLeft 1s ease-out;
}

.heading-primary--sub {
  margin-top: -1rem;
  display: block;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.75rem;
  animation: moveInRight 1s ease-out;
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 400;
  font-family: "Zhi Mang Xing", cursive;
  text-transform: uppercase;
  margin-bottom: 2rem;
  background-image: linear-gradient(to right, #ff4d6d, #d90429);
  -webkit-background-clip: text;
  letter-spacing: 1.5rem;
  color: transparent;
  transition: all 0.2s;
}

.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-huge {
  margin-bottom: 3rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn:active,
.btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
  font-size: 400;
  font-family: "Zhi Mang Xing", cursive;
}

.btn--white::after {
  background-color: #fff;
}

.composition {
  position: relative;
  padding: 20rem;
}

.composition__photo {
  position: absolute;
  box-shadow: 0rem 3rem 2rem rgba(0, 0, 0, 0.4);
  z-index: 10;
  width: 55%;
  transition: all 0.2s;
  outline-offset: 2rem;
}

.composition__photo--p1 {
  top: -2rem;
  left: 2rem;
}

.composition__photo--p2 {
  right: 0;
  top: 2rem;
}

.composition__photo--p3 {
  left: 20%;
  top: 8rem;
}

.composition__photo:hover {
  outline: 1.5rem solid #d90429;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 1rem 2rem #000;
  z-index: 20;
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
}

.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}

.story__img {
  width: 100%;
  transform: translateX(1rem) scale(1.4);
  backface-visibility: hidden;
  transition: all 0.5s;
}

.story__text {
  transform: skewX(12deg);
}

.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.7rem;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
}

.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.story:hover .story__img {
  transform: translateX(0.5rem) scale(1);
  filter: blur(3px) brightness(80%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.header {
  height: 70rem;
  background-image: url("/img/wedding/Shop.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  opacity: 0.85;
}

.header__text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

body {
  margin: 10px;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^=col-] {
  float: left;
}

.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}

.row .col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 2 * 6rem);
}

.row .heading-tertiary {
  font-family: "Zhi Mang Xing", cursive;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
}

.row .heading-contact {
  font-size: 3rem;
  font-family: "Zhi Mang Xing", cursive;
  font-weight: 1000;
  text-transform: uppercase;
  color: #ff4d6d;
}

.row .paragraph {
  font-family: "Zhi Mang Xing", cursive;
  font-size: 1.2rem;
}

.row .paragraph:not(:last-child) {
  margin-bottom: 2rem;
}

.link-right {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 120px;
  border-right: solid #000 1px;
}

.info ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.info ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  font-family: "Zhi Mang Xing", cursive;
}

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
}

.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}

.footer__logo {
  width: 25rem;
  height: auto;
}

.footer__navigation {
  border-top: 1px solid #777;
  padding: 2rem;
  display: inline-block;
}

.footer__list {
  list-style: none;
}

.footer__item {
  display: inline-block;
}

.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}

.footer__link:link,
.footer__link:visited {
  color: #f7f7f7;
  background-color: #333;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}

.footer__link:hover,
.footer__link:active {
  color: #d90429;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}

.footer__copyright {
  border-top: 1px solid #777;
  padding-top: 2rem;
  width: 80%;
  float: right;
}

.section-about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -10rem;
}

.section-cases {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(245, 243, 244, 0.3), rgba(255, 255, 255, 0.4)), url("/img/wedding/Brides.jpg");
  background-size: cover;
  height: 105rem;
  margin-top: -32rem;
  -webkit-clip-path: polygon(0% 30%, 100% 0%, 100% 70%, 0% 100%);
  clip-path: polygon(0% 30%, 100% 0%, 100% 70%, 0% 100%);
}

.section-contact {
  padding-top: 40rem;
  padding-bottom: 10rem;
  background-color: #f7f7f7;
}

.section-stories {
  position: relative;
  padding: 5rem;
}

/*# sourceMappingURL=main.css.map */